In [4]:
import pandas as pd
df1 = pd.read_csv('./data/tmdb_5000_credits.csv')
df2 = pd.read_csv('./data/tmdb_5000_movies.csv')

In [5]:
df1.columns=['id', 'title', 'cast', 'crew']

In [6]:
df_temp = df1[['id', 'cast', 'crew']]

In [7]:
df2 = df2.merge(df_temp, on = 'id')

In [8]:
df2.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
import pickle

In [10]:
temp = df2[['id', 'title']]
temp

          id                                     title
0      19995                                    Avatar
1        285  Pirates of the Caribbean: At World's End
2     206647                                   Spectre
3      49026                     The Dark Knight Rises
4      49529                               John Carter
...      ...                                       ...
4798    9367                               El Mariachi
4799   72766                                 Newlyweds
4800  231617                 Signed, Sealed, Delivered
4801  126186                          Shanghai Calling
4802   25975                         My Date with Drew

[4803 rows x 2 columns]

In [11]:
pickle.dump(temp, open('./data/movies.pickle', 'wb'))

In [12]:
movies = pickle.load(open('./data/movies.pickle', 'rb'))
movies.head(10)

       id                                     title
0   19995                                    Avatar
1     285  Pirates of the Caribbean: At World's End
2  206647                                   Spectre
3   49026                     The Dark Knight Rises
4   49529                               John Carter
5     559                              Spider-Man 3
6   38757                                   Tangled
7   99861                   Avengers: Age of Ultron
8     767    Harry Potter and the Half-Blood Prince
9  209112        Batman v Superman: Dawn of Justice

In [13]:
df2.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [14]:
df2['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [15]:
df2.shape

(4803, 22)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [17]:
df2['overview'] = df2['overview'].fillna('')

In [18]:
tfidf_matrix = tfidf.fit_transform(df2['overview'])

In [19]:
tfidf_matrix.shape

(4803, 20978)

In [20]:
# 당어 유사도 구하기

from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

In [21]:
cosine_sim.shape

(4803, 4803)

In [22]:
df2['title'].head()

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
Name: title, dtype: object

In [24]:
filter = df2['title'] == 'The Dark Knight Rises'
index = df2[filter].index[0]
index

3

In [27]:
sim_scores = cosine_sim[index]
sim_scores

array([0.02499512, 0.        , 0.        , ..., 0.03386366, 0.04275232,
       0.02269198])

In [28]:
sim_scores = list(enumerate(sim_scores))
sim_scores

[(0, 0.0249951158376727),
 (1, 0.0),
 (2, 0.0),
 (3, 1.0),
 (4, 0.010433403719159354),
 (5, 0.0051446018158107934),
 (6, 0.01260063243546246),
 (7, 0.026954270578912674),
 (8, 0.02065221688538951),
 (9, 0.1337400906655523),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.004071333922512107),
 (16, 0.021121093874993183),
 (17, 0.0),
 (18, 0.006768893195007471),
 (19, 0.010765175685064708),
 (20, 0.007178266390761152),
 (21, 0.033380775071488206),
 (22, 0.0),
 (23, 0.0),
 (24, 0.019238168304196293),
 (25, 0.017013388161368177),
 (26, 0.018845673291717265),
 (27, 0.0),
 (28, 0.008351231142809445),
 (29, 0.02582248131068942),
 (30, 0.017549884233472455),
 (31, 0.029947529512076927),
 (32, 0.021708602796233892),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.028418448812136628),
 (37, 0.0),
 (38, 0.030631547964966054),
 (39, 0.01088522587631032),
 (40, 0.0),
 (41, 0.021109848007927),
 (42, 0.008087287409335878),
 (43, 0.0),
 (44, 0.0),
 (45, 0.008667206203132952),
 (46, 0.0),
 (47, 0.008370116577193958),
 (48, 0.0),
 (49, 0.0),
 (50, 0.028358356657578104),
 (51, 0.0044195546647069804),
 (52, 0.016300101955129633),
 (53, 0.014997203964410096),
 (54, 0.0),
 (55, 0.0),
 (56, 0.04956374277303492),
 (57, 0.011455415588688133),
 (58, 0.026549302574340555),
 (59, 0.0),
 (60, 0.008984081816033438),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.30151176591665485),
 (66, 0.005466012755015322),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.01151474877665648),
 (77, 0.018362187347835526),
 (78, 0.0),
 (79, 0.0046399517384596665),
 (80, 0.02040398688574236),
 (81, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.011095621330455193),
 (85, 0.03972278831039288),
 (86, 0.02383463768528818),
 (87, 0.0),
 (88, 0.0),
 (89, 0.006901163451631844),
 (90, 0.0),
 (91, 0.03267349033106477),
 (92, 0.013909786991724979),
 (93, 0.024108412591485766),
 (94, 0.019899105691655185),
 (95, 0.0),
 (96, 0.0),
 (97, 0.025191659761195462),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.006008620221617743),
 (102, 0.017293543538943367),
 (103, 0.014765415310900133),
 (104, 0.0),
 (105, 0.006827526424670165),
 (106, 0.0),
 (107, 0.0),
 (108, 0.020837965840053214),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.01539391139573925),
 (114, 0.0),
 (115, 0.004582195354771824),
 (116, 0.02942847555462785),
 (117, 0.0),
 (118, 0.0),
 (119, 0.16799626199850706),
 (120, 0.004967649962522657),
 (121, 0.01783534576376142),
 (122, 0.01568614172147101),
 (123, 0.027652990258597784),
 (124, 0.0),
 (125, 0.004601262695517274),
 (126, 0.017812053858174758),
 (127, 0.014869787303643058),
 (128, 0.011605892485339277),
 (129, 0.0),
 (130, 0.0280204985055396),
 (131, 0.0),
 (132, 0.011065964977875105),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.05382976624450389),
 (137, 0.008883897054844552),
 (138, 0.0),
 (139, 0.04537230110999062),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.004606862711209118),
 (144, 0.0),
 (145, 0.011124596921338135),
 (146, 0.008317327524856892),
 (147, 0.015811113048024572),
 (148, 0.01930380580447377),
 (149, 0.0),
 (150, 0.005151904214092396),
 (151, 0.0),
 (152, 0.0),
 (153, 0.026348116565001682),
 (154, 0.04108719099965726),
 (155, 0.0),
 (156, 0.0),
 (157, 0.01848918875479597),
 (158, 0.0),
 (159, 0.0),
 (160, 0.056387288475695505),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.05328858662752758),
 (167, 0.0),
 (168, 0.028588812451723972),
 (169, 0.023998866252772623),
 (170, 0.04815758597763417),
 (171, 0.017388180483771287),
 (172, 0.04140039692840094),
 (173, 0.017304568426605434),
 (174, 0.005605318477839426),
 (175, 0.0),
 (176, 0.0),
 (177, 0.0),
 (178, 0.010421139129967987),
 (179, 0.03843748677355906),
 (180, 0.018217619313564887),
 (181, 0.0),
 (182, 0.028276895060021155),
 (183, 0.0),
 (184, 0.004017150235440391),
 (185, 0.006705822747118495),
 (186, 0.0),
 (187, 0.0),
 (188, 0.005432026720538357),
 (189, 0.051986848187990306),
 (190, 0.0),
 (191, 0.0),
 (192, 0.03244984001292098),
 (193, 0.00785286457851951),
 (194, 0.0),
 (195, 0.005824255269702452),
 (196, 0.0076412385986681965),
 (197, 0.0),
 (198, 0.05321038424109084),
 (199, 0.0),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.0),
 (205, 0.007258719582486187),
 (206, 0.0),
 (207, 0.0),
 (208, 0.0),
 (209, 0.023727382552120816),
 (210, 0.13045537014449818),
 (211, 0.0),
 (212, 0.03732491379402199),
 (213, 0.0),
 (214, 0.0),
 (215, 0.037223554058902084),
 (216, 0.0),
 (217, 0.015691196579673106),
 (218, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.0),
 (222, 0.0),
 (223, 0.007909063391451093),
 (224, 0.02199123210296277),
 (225, 0.023388061689382268),
 (226, 0.0),
 (227, 0.0),
 (228, 0.0),
 (229, 0.015668417779476064),
 (230, 0.022384865249046065),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.005416120563002782),
 (235, 0.0),
 (236, 0.03211950994841882),
 (237, 0.0),
 (238, 0.055637188916219035),
 (239, 0.0),
 (240, 0.0),
 (241, 0.004843532442353235),
 (242, 0.028496309153597243),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.037764821851882846),
 (247, 0.0),
 (248, 0.0067984202343237534),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.012633399991584724),
 (253, 0.0035604418677455583),
 (254, 0.0),
 (255, 0.010122999001271669),
 (256, 0.013403248925391863),
 (257, 0.0),
 (258, 0.002637514549434934),
 (259, 0.0066049471959311245),
 (260, 0.0),
 (261, 0.0),
 (262, 0.03981572576257154),
 (263, 0.0),
 (264, 0.008799376722262713),
 (265, 0.0),
 (266, 0.011482113684829372),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.02638073666465946),
 (273, 0.0),
 (274, 0.013794380725284881),
 (275, 0.04699106659570477),
 (276, 0.017347942632579733),
 (277, 0.013927075303072751),
 (278, 0.0),
 (279, 0.02306946675005357),
 (280, 0.014835017084107845),
 (281, 0.04850690747212835),
 (282, 0.011076592401190929),
 (283, 0.02945430864867394),
 (284, 0.0056132959217499515),
 (285, 0.0143752204449751),
 (286, 0.06866383939743481),
 (287, 0.0),
 (288, 0.018954785191161307),
 (289, 0.0030400430800127183),
 (290, 0.026749517782380123),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.010872296157133941),
 (296, 0.040114221787403814),
 (297, 0.0),
 (298, 0.006069530957620157),
 (299, 0.29857045255396825),
 (300, 0.0),
 (301, 0.0),
 (302, 0.004199020500120462),
 (303, 0.005028626630771381),
 (304, 0.043301851324804685),
 (305, 0.0),
 (306, 0.0),
 (307, 0.031573558104568175),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0033919366519925298),
 (311, 0.010398151316103811),
 (312, 0.0),
 (313, 0.0),
 (314, 0.0),
 (315, 0.004422195303905182),
 (316, 0.011024342093847618),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.03408187954598553),
 (322, 0.0),
 (323, 0.0),
 (324, 0.034747394754250746),
 (325, 0.006948743879506472),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.01635763790225705),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.004836941913083933),
 (335, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.013704587734984675),
 (340, 0.0),
 (341, 0.005608956462969991),
 (342, 0.03925347760202698),
 (343, 0.0),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (348, 0.005554915622312921),
 (349, 0.0),
 (350, 0.0),
 (351, 0.024998796675161295),
 (352, 0.0),
 (353, 0.0),
 (354, 0.006058817421523585),
 (355, 0.024714784595197162),
 (356, 0.007619002081246003),
 (357, 0.013972190936862885),
 (358, 0.0),
 (359, 0.039038636330984644),
 (360, 0.0),
 (361, 0.010722257362842224),
 (362, 0.0076241902807024494),
 (363, 0.0),
 (364, 0.0),
 (365, 0.0),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.03968920576233667),
 (370, 0.02966843532390714),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.003873755160807044),
 (376, 0.02854165335128062),
 (377, 0.00404045615091612),
 (378, 0.0),
 (379, 0.004117591373836143),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.03743705301718331),
 (390, 0.0),
 (391, 0.0036970647958324433),
 (392, 0.04173737309688232),
 (393, 0.004561138780984189),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.01451115325528235),
 (398, 0.01674976857117613),
 (399, 0.0),
 (400, 0.028068887228114868),
 (401, 0.025352330605289516),
 (402, 0.008515312510534539),
 (403, 0.005380258008061251),
 (404, 0.011527860171776575),
 (405, 0.022747389486920688),
 (406, 0.0),
 (407, 0.0078485245098086),
 (408, 0.0),
 (409, 0.0),
 (410, 0.0),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.009394503853080246),
 (415, 0.022897180758222554),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.024060714060476288),
 (420, 0.0),
 (421, 0.012764224459658967),
 (422, 0.0),
 (423, 0.0),
 (424, 0.022899315106144215),
 (425, 0.016982139718431606),
 (426, 0.014998623088502793),
 (427, 0.0),
 (428, 0.2878505467001694),
 (429, 0.006147434170676051),
 (430, 0.004706180900561091),
 (431, 0.0),
 (432, 0.0),
 (433, 0.0),
 (434, 0.0),
 (435, 0.006966363756456715),
 (436, 0.004994615362565935),
 (437, 0.0),
 (438, 0.0),
 (439, 0.013518445110818376),
 (440, 0.015513391905168357),
 (441, 0.0),
 (442, 0.04305724012803792),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.0),
 (447, 0.009647569118333048),
 (448, 0.00878557520552861),
 (449, 0.047020755931188395),
 (450, 0.004225953101122851),
 (451, 0.0),
 (452, 0.0),
 (453, 0.011176868121732216),
 (454, 0.0),
 (455, 0.0),
 (456, 0.014954868857331733),
 (457, 0.0),
 (458, 0.0),
 (459, 0.0),
 (460, 0.0),
 (461, 0.0),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.006851991767686718),
 (466, 0.010839258474167463),
 (467, 0.0),
 (468, 0.0),
 (469, 0.03220449236430262),
 (470, 0.0),
 (471, 0.0),
 (472, 0.028267591905486646),
 (473, 0.0),
 (474, 0.0),
 (475, 0.0),
 (476, 0.010957912907903211),
 (477, 0.0),
 (478, 0.012876722207052398),
 (479, 0.004811403887831713),
 (480, 0.0),
 (481, 0.0),
 (482, 0.0),
 (483, 0.0),
 (484, 0.0),
 (485, 0.018839787404056257),
 (486, 0.028538272319874755),
 (487, 0.0),
 (488, 0.0050407188994071525),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.0),
 (493, 0.0),
 (494, 0.0),
 (495, 0.0),
 (496, 0.0),
 (497, 0.006215105570904383),
 (498, 0.0),
 (499, 0.0),
 (500, 0.010422600856505133),
 (501, 0.0),
 (502, 0.030069399054761754),
 (503, 0.014434423550061588),
 (504, 0.0),
 (505, 0.0),
 (506, 0.009754079225827956),
 (507, 0.0),
 (508, 0.005969841813625509),
 (509, 0.0045188912633002416),
 (510, 0.0),
 (511, 0.028422972525677374),
 (512, 0.0),
 (513, 0.013781537754424722),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.004235768670696995),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.0),
 (524, 0.0),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.01994770294983638),
 (529, 0.03718436565255274),
 (530, 0.007674139036513077),
 (531, 0.00931786513621838),
 (532, 0.0),
 (533, 0.0),
 (534, 0.0),
 (535, 0.0),
 (536, 0.0),
 (537, 0.0),
 (538, 0.014682417305252892),
 (539, 0.0),
 (540, 0.004321661832351155),
 (541, 0.00896585156811301),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.012211661956258339),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.026051576649055583),
 (550, 0.010283799766484835),
 (551, 0.014223150287082374),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.0),
 (556, 0.005584749797081471),
 (557, 0.0),
 (558, 0.0),
 (559, 0.0),
 (560, 0.0),
 (561, 0.03133684618426433),
 (562, 0.0),
 (563, 0.0),
 (564, 0.01943196273108645),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0040999205319018186),
 (568, 0.0),
 (569, 0.030762295493311047),
 (570, 0.02245269395357705),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.031378939243315196),
 (575, 0.009776595843078384),
 (576, 0.04045920236760754),
 (577, 0.0),
 (578, 0.0),
 (579, 0.0),
 (580, 0.016935725113926287),
 (581, 0.0),
 (582, 0.02670926950147553),
 (583, 0.02490723981225111),
 (584, 0.0),
 (585, 0.0),
 (586, 0.015461612531061583),
 (587, 0.011376202068396842),
 (588, 0.009197594805883636),
 (589, 0.03841846242882966),
 (590, 0.06691123930989949),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0),
 (594, 0.0),
 (595, 0.0),
 (596, 0.0),
 (597, 0.008797930425405939),
 (598, 0.03579469367796652),
 (599, 0.009341959621773555),
 (600, 0.014250603497467729),
 (601, 0.0057200893821864425),
 (602, 0.052575892836462385),
 (603, 0.0),
 (604, 0.0),
 (605, 0.01865065854523476),
 (606, 0.016897525589996614),
 (607, 0.027482933413845077),
 (608, 0.0),
 (609, 0.0),
 (610, 0.0),
 (611, 0.016917883999943602),
 (612, 0.00902470305981481),
 (613, 0.0),
 (614, 0.06410355106132812),
 (615, 0.04963450161220298),
 (616, 0.0),
 (617, 0.0),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.0),
 (622, 0.013903627921359758),
 (623, 0.0),
 (624, 0.0),
 (625, 0.0),
 (626, 0.0),
 (627, 0.02520094193815129),
 (628, 0.02048213640478558),
 (629, 0.004702362567008691),
 (630, 0.005052717064910142),
 (631, 0.0),
 (632, 0.0204743120399674),
 (633, 0.0),
 (634, 0.0),
 (635, 0.0),
 (636, 0.0),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.007150796354779989),
 (641, 0.0),
 (642, 0.0),
 (643, 0.00855517025853795),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.06113184684574714),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.012160362085977185),
 (653, 0.0),
 (654, 0.006422094020434747),
 (655, 0.0),
 (656, 0.0),
 (657, 0.01353065838248238),
 (658, 0.013202309107497236),
 (659, 0.0),
 (660, 0.0),
 (661, 0.0),
 (662, 0.005238449712920694),
 (663, 0.007007058524071615),
 (664, 0.008259685597076554),
 (665, 0.0),
 (666, 0.00982358881287198),
 (667, 0.0),
 (668, 0.057651269727644235),
 (669, 0.03314085888342038),
 (670, 0.020286710194779355),
 (671, 0.0),
 (672, 0.05212577297466591),
 (673, 0.005665395102159484),
 (674, 0.032584109983878305),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.0),
 (679, 0.006179926233101102),
 (680, 0.0),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.0),
 (687, 0.0),
 (688, 0.0),
 (689, 0.0),
 (690, 0.018989364459748505),
 (691, 0.005655903442126628),
 (692, 0.0),
 (693, 0.0),
 (694, 0.02961695482762623),
 (695, 0.03470603925033839),
 (696, 0.007905217080311212),
 (697, 0.0),
 (698, 0.015537488782031792),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.0),
 (703, 0.0),
 (704, 0.0),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.00947801222121816),
 (709, 0.0),
 (710, 0.0),
 (711, 0.0),
 (712, 0.010236171784831043),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.030195085274536487),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.007006637115952757),
 (722, 0.0),
 (723, 0.0),
 (724, 0.023029114239389456),
 (725, 0.0),
 (726, 0.005254585246277527),
 (727, 0.0),
 (728, 0.0),
 (729, 0.0),
 (730, 0.021472754599151447),
 (731, 0.022146305256816077),
 (732, 0.009444399972728227),
 (733, 0.0),
 (734, 0.022453930263541626),
 (735, 0.0),
 (736, 0.0),
 (737, 0.033617480380536996),
 (738, 0.0),
 (739, 0.0),
 (740, 0.01840119527534042),
 (741, 0.0),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.005553720811362761),
 (746, 0.0),
 (747, 0.008496139108886122),
 (748, 0.0),
 (749, 0.0),
 (750, 0.0),
 (751, 0.0),
 (752, 0.01235569253813857),
 (753, 0.0),
 (754, 0.0),
 (755, 0.025754701125838345),
 (756, 0.0),
 (757, 0.0),
 (758, 0.011111953707018762),
 (759, 0.009551545459859773),
 (760, 0.0),
 (761, 0.040652701400888086),
 (762, 0.007796056413369449),
 (763, 0.008663354895634594),
 (764, 0.011002378984487964),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.00854504798385258),
 (771, 0.051989545802567004),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.010802681598897336),
 (776, 0.0),
 (777, 0.06007980793346218),
 (778, 0.007170458690441402),
 (779, 0.015245689486302672),
 (780, 0.0),
 (781, 0.0),
 (782, 0.03750215651562471),
 (783, 0.0),
 (784, 0.013870497592700797),
 (785, 0.014192238901799),
 (786, 0.007164362933647063),
 (787, 0.022466076220887043),
 (788, 0.01645735229132369),
 (789, 0.0),
 (790, 0.08025680374928534),
 (791, 0.0),
 (792, 0.005030442812173936),
 (793, 0.0),
 (794, 0.0),
 (795, 0.0),
 (796, 0.0),
 (797, 0.03848369401874538),
 (798, 0.0),
 (799, 0.021954259841651464),
 (800, 0.0),
 (801, 0.01112348598061646),
 (802, 0.034745364808828505),
 (803, 0.022204492708220076),
 (804, 0.0),
 (805, 0.038251511379121826),
 (806, 0.0),
 (807, 0.04172310532275985),
 (808, 0.0),
 (809, 0.0),
 (810, 0.019379625179082663),
 (811, 0.0),
 (812, 0.005655417665942667),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.007462989531691867),
 (817, 0.0),
 (818, 0.009507123465255158),
 (819, 0.0),
 (820, 0.04298997885426019),
 (821, 0.01028912795689598),
 (822, 0.0),
 (823, 0.0),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.012620623610056555),
 (829, 0.0),
 (830, 0.011821011980776995),
 (831, 0.0),
 (832, 0.0),
 (833, 0.016274908639033928),
 (834, 0.016419770858221914),
 (835, 0.005140249250759681),
 (836, 0.0),
 (837, 0.0),
 (838, 0.0),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.0160278869432615),
 (843, 0.0),
 (844, 0.0),
 (845, 0.005074194504145629),
 (846, 0.0),
 (847, 0.008626499485339136),
 (848, 0.0),
 (849, 0.014856684811016888),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.04387394985319228),
 (855, 0.0),
 (856, 0.0),
 (857, 0.0),
 (858, 0.0),
 (859, 0.0),
 (860, 0.0),
 (861, 0.009104905195773793),
 (862, 0.0),
 (863, 0.0),
 (864, 0.0),
 (865, 0.0),
 (866, 0.031967047989104),
 (867, 0.00642858038077249),
 (868, 0.005100417269332049),
 (869, 0.0),
 (870, 0.031044854138300017),
 (871, 0.0),
 (872, 0.0),
 (873, 0.03252808053782304),
 (874, 0.01453908247211661),
 (875, 0.0),
 (876, 0.012832147519280471),
 (877, 0.0),
 (878, 0.0),
 (879, 0.1050189187666832),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.05513869660012231),
 (885, 0.0),
 (886, 0.0),
 (887, 0.005494342719097118),
 (888, 0.0),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.02987487486390953),
 (893, 0.0),
 (894, 0.01874742586999907),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.0),
 (900, 0.006709804958300454),
 (901, 0.0),
 (902, 0.0),
 (903, 0.0),
 (904, 0.01943066140914914),
 (905, 0.0),
 (906, 0.007476890926395708),
 (907, 0.014636581512875103),
 (908, 0.0),
 (909, 0.04744169902641941),
 (910, 0.0037213786892250312),
 (911, 0.0),
 (912, 0.025633927478456803),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.0),
 (917, 0.0),
 (918, 0.009753806176412302),
 (919, 0.014053662451009762),
 (920, 0.012136900418604596),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.014377375158525135),
 (931, 0.0),
 (932, 0.013184032702353046),
 (933, 0.0),
 (934, 0.025653976336290716),
 (935, 0.00643170935527381),
 (936, 0.0),
 (937, 0.027133916072073248),
 (938, 0.0),
 (939, 0.012517799110931985),
 (940, 0.0),
 (941, 0.0),
 (942, 0.022362945890286406),
 (943, 0.0312711877499085),
 (944, 0.0),
 (945, 0.0),
 (946, 0.0),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0057020914145596855),
 (950, 0.010320635579054792),
 (951, 0.0),
 (952, 0.0),
 (953, 0.004779570290121787),
 (954, 0.0),
 (955, 0.0),
 (956, 0.018135294954648988),
 (957, 0.007031658623135218),
 (958, 0.023758468315152943),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.03453964161915732),
 (963, 0.0),
 (964, 0.012491386667189571),
 (965, 0.0),
 (966, 0.0),
 (967, 0.015790411621549087),
 (968, 0.04504721127283797),
 (969, 0.0),
 (970, 0.0),
 (971, 0.016492216563284513),
 (972, 0.0),
 (973, 0.0),
 (974, 0.0),
 (975, 0.05123326179177315),
 (976, 0.021712405104773222),
 (977, 0.0),
 (978, 0.005058532807693165),
 (979, 0.0810447942804151),
 (980, 0.01831948321713123),
 (981, 0.03276074913231903),
 (982, 0.012718170351844353),
 (983, 0.0),
 (984, 0.0),
 (985, 0.02749128951705554),
 (986, 0.0),
 (987, 0.010139537004863123),
 (988, 0.0),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0038287385710778178),
 (992, 0.05181241244828169),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.0),
 (998, 0.0),
 (999, 0.0),
 ...]

In [31]:
sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
sim_scores[1:11]

[(65, 0.30151176591665485),
 (299, 0.29857045255396825),
 (428, 0.2878505467001694),
 (1359, 0.264460923827995),
 (3854, 0.18545003006561456),
 (119, 0.16799626199850706),
 (2507, 0.16682891043358278),
 (9, 0.1337400906655523),
 (1181, 0.13219702138476813),
 (210, 0.13045537014449818)]

In [38]:
df2['title'].iloc[299]

'Batman Forever'

In [39]:
sim_movies = [i[0] for i in sim_scores[1 : 11]]
sim_movies

[65, 299, 428, 1359, 3854, 119, 2507, 9, 1181, 210]

In [41]:
df2['title'].iloc[sim_movies]

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: title, dtype: object

In [42]:
pickle.dump(cosine_sim, open('./data/cosine_sim.pickle', 'wb'))